@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500&family=DM+Sans:opsz,wght@9..40,100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@200&family=Pixelify+Sans&family=Playfair+Display&family=Poppins:wght@300;600;700&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500&family=DM+Sans:opsz,wght@9..40,100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@200&family=Pixelify+Sans&family=Poppins:wght@300;600;700&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&family=Ultra&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 2480px;
}
/* HEADER */
.header-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Playfair Display;
  max-width: 80%;
  padding-top: 20px;
  gap: 160px;
}
.header-wrapper ul,
a {
  list-style-type: none;
  text-decoration: none;
}
.center ul,
a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  color: #888;
  text-align: center;
  font-size: 20px;
  line-height: 72px;
  letter-spacing: 0.4px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social ul,
img {
  display: flex;
  margin: 0;
  padding: 0;
  width: 40px;
  gap: 10px;
}
.social span {
  color: #888;
  font-size: 20px;
  line-height: 72px;
  letter-spacing: 0.4px;
  min-width: 100px;
}
/* Main */
.first-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.section-first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.gray-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #888;
  width: 100%;
  height: 300px;
}
.gray-bg h2 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: -0.72px;
}
.underline hr {
  width: 10%;
  height: 0;
}

.underline {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  min-width: 200px;
  line-height: 30px;
}

/* Second Section */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.first {
  grid-column: 1/2;
  grid-row: 1/2;
}
.second {
  grid-column: 2/3;
  grid-row: 1/2;
}
.third {
  grid-column: 1/2;
  grid-row: 2/3;
}
.forth {
  grid-column: 2/3;
  grid-row: 2/3;
}
.small-box {
  background-color: #888;
  color: #fff;
  font-size: 30px;
  width: 100%;
  height: 400px;
  margin: 20px;
}

.small-box h3 {
  font-family: Playfair Display;
  text-align: center;
  margin-top: 70px;
}

.small-box p {
  font-family: Montserrat;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.small-box hr {
  width: 5%;
}

.p-space {
  display: flex;
  justify-content: space-around;
}
